package fr.appwhite1.business.impl_server.annuaire;

// Start of user code for imports

import fr.appwhite1.requirement.Requirement;
import fr.appwhite1.requirement.Requirement_Enum;
import fr.spi4j.requirement.RequirementException;

// End of user code

/**
 * Implémentations des exigences métiers de 'PersonneService'.
 * @author Pacman
 */
public class PersonneServiceRequirements
{

   // Start of user code REQ_FCT_PERS_01

   /**
    * Test de l'exigence REQ_FCT_PERS_01. <br/>
    * Lors d'une recherche de personnes par grade, les personnes trouvées ont toutes le même grade <br/>
    * Le grade peut être "Lieutenant", "Colonel", ... <br/>
    * Statement sur plusieurs lignes !
    */
   @Requirement(Requirement_Enum.REQ_FCT_PERS_01)
   public void exigenceREQ_FCT_PERS_01 ()
   {
      throw new RequirementException(Requirement_Enum.REQ_FCT_PERS_01, "Exigence non implémentée");
   }

   // End of user code

   // Start of user code REQ_TEC_PERS_02

   /**
    * Test de l'exigence REQ_TEC_PERS_02. <br/>
    * Exigence technique sur une ligne
    */
   @Requirement(Requirement_Enum.REQ_TEC_PERS_02)
   public void exigenceREQ_TEC_PERS_02 ()
   {
      throw new RequirementException(Requirement_Enum.REQ_TEC_PERS_02, "Exigence non implémentée");
   }

   // End of user code

   // Start of user code PersonneServiceRequirements

   // End of user code

}
