<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.ui.popupMenus">
		<objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.*"
            id="fr.pacman.configuration.ui.popup.contribution.IFile">
         <menu id="fr.gouv.minarm.safran.menu" label="Safr@n" path="additionsAcceleo">
               <groupMarker name="acceleo"/> 
         </menu>
         <action
               class="fr.pacman.configuration.ui.popup.AcceleoGenerateConfigurationAction"
               enablesFor="+"
               id="fr.pacman.configuration.ui.popup.acceleoGenerateConfigurationAction"
               icon="icons/safran.png"
               label="Génération Configuration"
               menubarPath="org.obeonetwork.is.designer.menu/moe"
               tooltip="Génère tout le code de configuration en fonction du .properties"/>
		</objectContribution>
   </extension>
   <extension 
 			point="org.obeonetwork.dsl.environment.providedMetaDataDefinitionsModels">
 		<model
  			name="Metadata definitions for Pacman generators"
  			uri="platform:/plugin/fr.pacman.configuration.ui/resources/pacman.metadatadef">
 		</model>
	</extension>
</plugin>