<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="fr.pacman.validation.ui.handlers.ValidationGeneratorsHandler"
            commandId="fr.pacman.validation.ui.commands.ValidationGeneratorCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               id="fr.pacman.ui.menus.generators"
               label="Safr@n">
            <command
                  commandId="fr.pacman.validation.ui.commands.ValidationGeneratorCommand"
                  id="fr.pacman.validation.ui.menus.ValidationGeneratorCommand" 
                  icon="icons/safran.png" 
                  label="Validation modèle">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <and>
                           <instanceof
                                 value="org.eclipse.core.resources.IFile">
                           </instanceof>
                           <test
                                 property="org.eclipse.core.resources.extension"
                                 value="validation">
                           </test>
                        </and>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="fr.pacman.validation.ui.commands.generatorsCategory"
            name="Generators">
      </category>
      <command
            categoryId="fr.pacman.validation.ui.commands.generatorsCategory"
            id="fr.pacman.validation.ui.commands.ValidationGeneratorCommand"
            name="fr::pacman::validation::generateValidation">
      </command>
   </extension>

</plugin>

