<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.requirement"
            id="fr.pacman.requirement.ui.popup.contribution.IFile">
         <menu id="fr.gouv.minarm.safran.menu" label="Safr@n" path="additionsAcceleo">
               <groupMarker name="acceleo"/> 
         </menu>
         <action
               class="fr.pacman.requirement.ui.popup.AcceleoGenerateRequirementAction"
               enablesFor="+"
               id="fr.pacman.requirement.ui.popup.acceleoGenerateRequirementAction"
               icon="icons/safran.png"
               label="Génération Requirements"
               menubarPath="org.obeonetwork.is.designer.menu/moe"/>
      </objectContribution>
      
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.emf.cdo.eresource.CDOResource"
            nameFilter="*"
            id="fr.pacman.requirement.ui.popup.contribution.CDOResource">
         <menu id="fr.gouv.minarm.safran.menu" label="Safr@n" path="additionsAcceleo">
               <groupMarker name="acceleo"/> 
         </menu>
         <action
               class="fr.pacman.requirement.ui.popup.AcceleoGenerateRequirementActionCDOResource"
               enablesFor="+"
               id="fr.pacman.requirement.ui.popup.acceleoGenerateRequirementActionCDOResource"
               icon="icons/safran.png"
               label="Génération Requirements"
               menubarPath="org.obeonetwork.is.designer.menu/moe"/>
      </objectContribution>
   </extension>
</plugin>
