<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Safr@n"
            id="fr.pacman.validation.view">
      </category>
      <view
            name="Validation Safr@n"
            icon="icons/checkbox_active.gif"
            category="fr.pacman.validation.view"
            class="fr.pacman.validation.view.views.ValidationView"
            id="fr.pacman.validation.view.views.ModelCheckerView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="fr.pacman.validation.view.views.ModelCheckerView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
