<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.*"
            id="fr.pacman.cinematic.jsp.ui.popup.contribution.IFile">
         <menu id="fr.gouv.minarm.safran.menu" label="Safr@n" path="additionsAcceleo">
               <groupMarker name="acceleo"/> 
         </menu>
         <action
               class="fr.pacman.cinematic.jsp.ui.popup.AcceleoGenerateJspAction"
               enablesFor="+"
               id="fr.pacman.cinematic.jsp.ui.popup.AcceleoGenerateJspAction"
               icon="icons/safran.png"
               label="Génération Cinematic JSP"
               menubarPath="org.obeonetwork.is.designer.menu/moe"
               tooltip="Génère le code JSP pour le modèle Cinematic"/>
      </objectContribution>
      
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.emf.cdo.eresource.CDOResource"
            nameFilter="*"
            id="fr.pacman.cinematic.jsp.ui.popup.contribution.CDOResource">
         <menu id="fr.gouv.minarm.safran.menu" label="Safr@n" path="additionsAcceleo">
               <groupMarker name="acceleo"/> 
         </menu>
         <action
               class="fr.pacman.cinematic.jsp.ui.popup.AcceleoGenerateJspActionCDOResource"
               enablesFor="+"
               id="fr.pacman.cinematic.jsp.ui.popup.AcceleoGenerateJspActionCDOResource"
               icon="icons/safran.png"
               label="Génération Cinematic JSP"
               menubarPath="org.obeonetwork.is.designer.menu/moe"
               tooltip="Génère le code JSP pour le modèle Cinematic"/>
      </objectContribution>
   </extension>
</plugin>
